.container-1, .container-2, .container-3, .container-4, .container-5 {
	border:1px solid black;
	width: 75%;
	margin: 0 auto;
	text-align: center;
}

.flex-box-container-1{
	display: flex;
	border:1px solid black;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex-box-container-1 div{
	display: flex;
	padding: 10px;
	align-items: center;
}

.flex-box-container-2{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid black;
	justify-content: space-around;
}

.flex-box-container-2 img{
	margin: 10px;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3)
}

.rps{
	height: 100px;
	width: 100px;
}

.flex-box-rps img:hover{
	box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

#systemChoice:hover{
	box-shadow: 0px 10px 50px rgba(233, 50, 37, 1);
}

.flex-box-rps, .flex-box-pick-color{
	display: flex;
	border: 1px solid black;
	padding: 10px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.rpsresg{
	margin: auto 0;
	color: green;
}

.rpsresb{
	margin: auto 0;
}

.rpsresr{
	margin: auto 0;
	color: red;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	flex-direction: row;
	justify-content: space-around;
	border: 1px solid black;
}

.flex-blackjack-row-1, .flex-blackjack-row-2{
	background-image: url("../images/bjbg.jpg");
	color: white;
}

.flex-blackjack-row-1 div{
	border: 1px solid black;
	padding: 10px;
	height: 350px;
	text-align: center;
	flex: 1;
}

.flex-blackjack-row-1 img{
	width: 25%;
	padding: 10px;
}

.flex-blackjack-row-2 button{
	border: 1px solid black;
	padding: 10px;
}

.flex-blackjack-row-2 button{
	border: 1px solid black;
	padding: 10px;
}

table, th, td{
	padding: 5px;
	border: 1px solid black;
}